<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>


<div class="stackblitz-container material">
		<div class="col-lg-8 control-section">
			<div style="margin-top:10px">
        <button (click)="GetsyncfusionData()">Click For Syncfusion Diagram </button>
				<input id="zoomIn" type="button" value="+" onclick="zoomIn()"/>
				<input id="zoomOut" type="button" value="-" onclick="zoomOut()"/>
				<input id="Updatedatasource" type="button" value="Updatedatasource" onclick="Updatedatasource()"/>
      </div>
				<div class="content-wrapper">
					<div id="diagram"></div>
				</div>
			</div>

		</div>